# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django stuff
*.log
local_settings.py
db.sqlite3

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
